body{
    font-family: 'Roboto', sans-serif;
}

.title{
    display: inline;  
}

h1{
    color: #20a8b4;
    font-size: 50px;
    width: 40%;
    position: relative;
    top: 50;
}

span{
    color:#ff5c0f;
}

img{
    width:0%;
}

a{
 color: black;
 text-decoration: none;
 display: inline;
}

a:hover{
 color:#ff5c0f;
} 

ul{
 list-style: none;
 top: 5px;
}
 
.nav{
    position: relative;
    margin-left:5px;
    bottom:25px;
}

.navbar-nav{
    width: 70%;
    bottom: 15px;
    right: 5px;
    text-align: left;
  }

.Second-Container{
    margin-top:150px;
    width:100%;
}

.header {
 background-color:#F2F2F2;
 bottom: 20px;
 height: 200px;
}

.contact-us{  
    background: #20a8b4;
    background-color:#20a8b4;
    text-decoration: none;
    border-radius: 10px;
    color:#fff;
    font-size: 20px;
    padding: 12px; 
    width: 10%;
    position: relative;
    top:15px;
    width:100%;
}

.learn-more{  
 background: #20a8b4;
 background-color:#20a8b4;
 text-decoration: none;
 border-radius: 10px;
 color:#fff;
 font-size: 20px;
 padding: 12px; 
 width: 100%;
 text-align: center;
}

.contact-us:hover{
 background-image:#ff5c0f ;
 background-color:#ff5c0f;
 color:#fff;
 font-size: 20px;
}
    
.learn-more:hover {
 background-image:#ff5c0f ;
 background-color:#ff5c0f;
 color:#fff;
}


     /* DESKTOP */




@media only screen and (min-width: 768px) {
    body{
     font-family: 'Roboto', sans-serif;
    }

    .class{
        position: relative;
        bottom: 70px;
    }

    
    .code-svg{
        width: 50%;
        height: auto;
        position: relative;
        left: 500px;
        bottom: 175px;
    }

    ul{
     position: relative;
     margin-top: 10px;
    }
  
    .title{
     position: relative;
     bottom: 45px;
    }

    .header {
     background-color:#F2F2F2;
     padding-top:50px;
     position: relative;
     bottom: 20px;
     height:40px ;
    }
       
    .navbar-nav{
      width: 70%;
      position: relative;
      bottom: 75px;
      right: 5px;
      align-content: right;
    }
 
    .nav{
     position: relative;
     margin-left:400px;
     bottom:100px;
    }
 
    li{
      display: inline;
      margin: 7px;
    }
 
    h1{
     color: #20a8b4;
     font-size: 50px;
     width: 40%;
     position: relative;
     top: 50;
    }
 
    span{
         color:#ff5c0f;
    }
 
    a{
     color: black;
     text-decoration: none;
     display: inline;
    }
 
    a:hover{
     color:#ff5c0f;
    } 
 
    p{
      width: 30%;
    }

    .Second-Container{
    position: relative;
    top:100px;
    }
 
    .Bottom-Container{
     width: 40%;
     right: 200px;
     bottom:100px;
    }
     
    .contact-us{  
      width: auto;
      position: relative;
      top: 2px;
      background: #20a8b4;
      background-color:#20a8b4;
      text-decoration: none;
      border-radius: 10px;
      color:#fff;
      font-size: 20px;
      padding: 12px; 
    }
      
    .learn-more{  
     background: #20a8b4;
     background-color:#20a8b4;
     text-decoration: none;
     border-radius: 10px;
     color:#fff;
     font-size: 20px;
     padding: 12px; 
     width:auto;
    }
 
    .contact-us:hover{
     background-image:#ff5c0f ;
     background-color:#ff5c0f;
     color:#fff;
     font-size: 20px;
    }
 
    .learn-more:hover{
     background-image:#ff5c0f ;
     background-color:#ff5c0f;
     color:#fff;
   } 


}





 
 
